[Desktop Entry]
Encoding=UTF-8
Name=GambleCoin
Comment=GambleCoin P2P Cryptocurrency
Comment[fr]=GambleCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GambleCoin, eşten eşe kriptografik sanal para birimi
Exec=gamblecoin-qt %u
Terminal=false
Type=Application
Icon=gamblecoin128
MimeType=x-scheme-handler/gamblecoin;
Categories=Office;Finance;
