[Unit]
Description=GambleCoin's distributed currency daemon
After=network.target

[Service]
User=gamblecoin
Group=gamblecoin

Type=forking
PIDFile=/var/lib/gamblecoind/gamblecoind.pid

ExecStart=/usr/bin/gamblecoind -daemon -pid=/var/lib/gamblecoind/gamblecoind.pid \
          -conf=/etc/gamblecoin/gamblecoin.conf -datadir=/var/lib/gamblecoind

ExecStop=-/usr/bin/gamblecoin-cli -conf=/etc/gamblecoin/gamblecoin.conf \
         -datadir=/var/lib/gamblecoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
